<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" >
            <textarea id="#QueryTextBox" placeholder="Type in SQL queries (etc. SELECT * FROM TABLE)..." style="resize: none; width: 900px; height: 200px;"></textarea>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <button type="submit" id="queryButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                Query
            </button>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <textarea id="#ResulTextBox" readonly="true" style="resize: none; width: 900px; height: 200px;"></textarea>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>