<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="width: 85%; height: 300px; overflow: auto;">
        <table class="table table-bordered table-condensed table-striped table-hover" id="ResultTextBox" readonly="readonly" style="background-color: white; resize: none; width: 100%; height: 300px; overflow: scroll; border: double black;">
            <thead>{{{getHeaders}}}</thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="width: 85%; height: 300px; overflow: auto">
        <textarea id="QueryTextBox" placeholder="Type in SQL queries (etc. SELECT * FROM TABLE)..." style="resize: none; width: 100%; height: 300px;  border: double black;"></textarea>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <a id="queryButton" class="btn btn-lg btn-primary">
            Query
        </a>
    </div>
</div>