<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="width: 85%; height: 300px; overflow: auto;">
        <table class="table table-bordered table-condensed table-striped table-hover" id="ResultTextBox" readonly="readonly" style="background-color: white; resize: none; width: 100%; height: 300px; overflow: scroll; border: double black;">
            <thead>{{{getHeaders}}}</thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10" style="width: 85%; height: 300px; overflow-x: auto; overflow-y: auto;">
        <textarea id="QueryTextBox" placeholder="Type: <table name> <identifier1> <identifier2> ... <identifierN> (e.g. pokemon pikachu squirtle onix) (e.g. regions) (e.g. items master-ball)" style="resize: none; width: 100%; height: 300px;  border: double black;"></textarea>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
        <audio id="buttonClickSound" preload="auto">
            <source src="audio/pokemon_button_click.mp3" type="audio/mpeg">
        </audio>
        <a id="queryButton" class="btn btn-lg btn-primary">
            Query
        </a>
    </div>
</div>
