<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <textarea id="ResulTextBox" readonly="readonly" style="resize: none; width: 100%; height: 300px; overflow: scroll; border: double black;">{{sqlQueryResult}}</textarea>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" >
        <textarea id="QueryTextBox" placeholder="Type in SQL queries (etc. SELECT * FROM TABLE)..." style="resize: none; width: 100%; height: 300px;  border: double black;"></textarea>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <div id="queryButton" class="btn btn-lg btn-primary">
            Query
        </div>
    </div>
</div>